@import "tailwindcss";

/* REMOVE ALL DEFAULT SPACING */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* FIX SAFARI / CHROME viewport shrink issue */
body {
  overflow-x: hidden;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
